<p><%= link_to "Home", cocktails_path %>
<h2><%= @cocktail.name  %></h2>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
<br>

<% @cocktail.doses.each do |dose| %>
Ingredient: <%= dose.ingredient.name %>
<br>
Description: <%= dose.description %>
<br>
<%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, class: "btn btn-default" %>
<% end %>



